[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
imutils = "*"
mouseinfo = "*"
numpy = "==1.23.0"
opencv-python = "*"
pillow = "*"
pyautogui = "*"
pygetwindow = "*"
pymsgbox = "*"
pyperclip = "*"
pyrect = "*"
pyscreeze = "*"
pytweening = "*"

[dev-packages]

[requires]
python_version = "3.9"
